@charset "UTF-8";  /* para que não haja erros*/

.wrapper { /*CONTAINER PRINCIPAL QUE RECEBERÁ AS CAIXAS INTERNAS*/
  margin:auto; /*centralizar*/
  display: flex; /*para transformar em blocos*/
  flex-direction:row; /*Os blocos ficarão em linhas (um do lado do outro). Temos tambem em coluna -> column */
  flex-wrap: wrap;  /*qdo utilizamos blocos eles ficam um do lado do outro mesmo q tenha tamanho total da tela, entao para resolver isso utilizamos o flex-wrap:wrap */
  justify-content:center;/*alinhando os blocos na horizontal dentro do principal*/
  align-items:center; /*alinhando os blocos na vertical */
  width: 100%; /*Largura do principal*/
  height:auto; 
  background-color: rgb(255, 255, 255);
  padding: 0px; /*espaço entre as caixas e o principal*/
}

.boxLogo{
  background-color:rgb(255, 255, 255);
  width: 100%;
  height: 150px; /*para crescer com o tamanho do conteudo*/
  padding:0%;
  text-align: center;

}

.tamanhoLogo{ /*criei uma classe para o tamanho da logo*/
    width:150px;
    height: 150px;
}

.boxMenu{
  background-color:#103a4b;
  width: 100%;
  height: 60px; /*para crescer com o tamanho do conteudo*/
  padding:0%;
  text-align: center;  
  color:white;
}

.boxwhatsapp{
    background-color:#103a4b;
    width: 100%;
    height: 60px; /*para crescer com o tamanho do conteudo*/
    padding:0%;
    text-align: center;  
    color:white;
  }


.BANNER {
  background-color: rgb(217, 56, 182);
  width: 100%;
  height: 600px;
  margin: 10px; /*margem ao redor das caixas para ficarem distantes */
  
  
}

.tamanhoBanner{ /*classe para tamanho do banner*/
	width: 100%;
}

.boxatendemos-todas-as-areas-da-odontologia{ /*frase mais procurados acima dos produtos*/
  background-color:rgb(255, 255, 255);
  width: 100%;
  height: 80px; /*para crescer com o tamanho do conteudo*/
  padding-bottom:1%;
  color:#206683;
 
}

.boxserviços { /*criando as caixas dos produtos  */
  background-color:#103a4b;
  width: 20%;
  height: auto; /*para crescer com o tamanho do conteudo*/
  margin: 0.8%; /*margem ao redor das caixas para ficarem distantes */
  border-radius: 10px; /*arredondamento*/
  padding:1%;
  text-align:justify;

}

.tamanhoserviços{ /*classe para o tamanho dos produtos mais procurados*/
  width: 100%;
  height: auto; 
   
}

h1{
  font-size: 20px;
  font-family: Century Gothic, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:40px;
  text-align: center;

}

h2{
  font-family: Century Gothic, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:20px;
  text-align: center;
  color: rgb(255, 255, 255);

}

.boxBannerdebaixo{
  background-color:white;
  width: 100%;
  height: auto; /*para crescer com o tamanho do conteudo*/
  margin: 0%; /*margem ao redor das caixas para ficarem distantes */
  border-radius: 5px; /*arredondamento*/
  padding:0%;

}

.tamanhoFrete{ /*classe para o tamanho do banner frete*/
    width:100%;
}	

.boxMenuRodape{ /*caixa para o menu do rodape que será chamado 3 vezes para os menus e redes sociais*/
  background-color:#103a4b;
  width: 25%;
  height: 100px; 
  margin: 0%; /*margem ao redor das caixas para ficarem distantes OU zera pra grudarem */
  padding-bottom:2%;
  color:white;
  font-family: Century Gothic, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:20px;
 
}

.boxRodape{
  background-color:#1f5c74;
  width: 100%;
  height:40px; 
  font-size:20px;
  text-align:center;
  color:white;
  font-family: Century Gothic, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding:1%;

  
}

/*MENU PRINCIPAL*/

#principal {
	max-width: 100%; 
	height: 60px; /*coloque a altura que quiser*/
	background-color: #103a4b;
 	padding-top:5px;
}

#principal  ul{ /*formatando o ul para alinhar os botoes que estão dentro dele*/
	list-style: none; /*retirando a linha abaixo do link*/
	margin:0px; /*coloque margem se for necessário - espaço por fora*/
	padding:0px; /*coloque padding se for necessário - espaço por dentro*/
	text-align:center; /*alinhando os botoes */
}

#principal  ul li{
	display: inline-block;	/*tranformei meu li em blocos para posicionar e alterar margens*/
  font-family: Century Gothic, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right:0px; /*distancia entre os botoes*/
   
}

#principal  ul li a{ /*agora vms formatar o link em si*/
	padding: 15px;
	text-decoration: none;
	color: #d1d8aa;
	display: block;
	text-align: center;
	background-color:#103a4b; /*cor do botao inicial*/
 	border-radius: 15px; /*borda arredondada*/
  padding-right: 80px; 
  padding-left: 80px;
    
}

#principal ul li a:hover { /*quando passar o mouse sobre*/
	background-color: #60e5e1; /*ficará dessa cor quando passar o mouse*/
	transition: all .5s; /*tempo de transição do efeito*/
  border-radius: 15px; /*borda arredondada*/
	font-family: Arial Narrow Bold, sans-serif;
	color:#103a4b;
	
    
}

/*fim do menu*/





/*MENU DO WHATSAPP*/

#whatsapp {
	max-width: 100%; 
	height: 60px; /*coloque a altura que quiser*/
	background-color: #103a4b;
 	padding-top:5px;
}

#whatsapp  ul{ /*formatando o ul para alinhar os botoes que estão dentro dele*/
	list-style: none; /*retirando a linha abaixo do link*/
	margin:0px; /*coloque margem se for necessário - espaço por fora*/
	padding:0px; /*coloque padding se for necessário - espaço por dentro*/
	text-align:center; /*alinhando os botoes */
}

#whatsapp  ul li{
	display: inline-block;	/*tranformei meu li em blocos para posicionar e alterar margens*/
  font-family: Century Gothic, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  margin-right:0px; /*distancia entre os botoes*/
   
}

#whatsapp  ul li a{ /*agora vms formatar o link em si*/
	padding: 15px;
	text-decoration: none;
	color: #ffffff;
	display: block;
	text-align: center;
	background-color:#103a4b; /*cor do botao inicial*/
 	border-radius: 15px; /*borda arredondada*/
  padding-right: 80px; 
  padding-left: 80px;
    
}

#whatsapp ul li a:hover { /*quando passar o mouse sobre*/
	background-color: #0ac21f; /*ficará dessa cor quando passar o mouse*/
	transition: all .5s; /*tempo de transição do efeito*/
  border-radius: 15px; /*borda arredondada*/
	font-family: Arial Narrow Bold, sans-serif;
	color:#ffffff;
	
    
}

/*fim do menu*/








/*links do rodape*/

li {
	display: block;
	
	
}

li a {
	text-decoration:none;
	color:white;
	
}

.tamanhoImgs{ /*tamanho da imagem dentro do banner*/
  width:100%;
  height: auto;
}


/*INÍCIO BANNER ANIMADO*/

.BANNER { /*caixa onde está seu banner*/
display:inline-block; /*bloco na mesma linha e podem ser reajustadas*/
/*a diferença do display:inline-block e do display:inline é que o primeiro pode ser reajustado*/
width:100%;
height:600px;
position:relative; /* é usado quando queremos alterar a posição de um elemento tendo como referência a posição inicial dele*/
background-color:#103a4b;
margin:2px auto 0px auto; /*todas as medidas num margin só*/
}
.BANNER img { /*agora vms colocar animação da imagem que está DENTRO do banner*/
position:absolute; /*posição absoluta dentro do box banner*/
transition-property:opacity;  /*propriedade de transparência*/
transition-duration:1s; /*tempo de duração p carregar a img*/
transition-timing-function:linear; /*transição linear*/
}
.BANNER #anime1, .BANNER:hover #anime2 {/*ao passar o mouse carregará a segunda img*/
opacity:1;  /*a primeira começará 100% visível*/
}  
.BANNER:hover #anime1, .BANNER #anime2 {
opacity:0;  /*invisível a 1ª para a segunda aparecer*/
} 
/*FIM BANNER ANIME*/




/*Pagina sobre nós*/


.boxsobrenos{  /*texto a direita*/
  background-color:rgb(255, 255, 255);
  width: 40%;
  height: auto; 
  color:#142828;
  padding-right:8%;
  margin-top: 1%;
  margin-right: 1%;
  text-align: justify;
  font-family: Century Gothic, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
  
}


/*Pagina formúlario*/


.boxFormulario { 
  background-color:#ffffff;
  width: 40%;
  height: auto; /*para crescer com o tamanho do conteudo*/
  margin: 0.8%; /*margem ao redor das caixas para ficarem distantes */
  padding:0%;

}

.boxPessoa { 
  background-color:#ffffff;
  width: 40%;
  height: auto; /*para crescer com o tamanho do conteudo*/
  margin: 5%; /*margem ao redor das caixas para ficarem distantes */
  padding:0%;
  font-family: Century Gothic, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:20px;
  text-align: center;
}
